.name {
    font-size: 18px;
    padding: 5px 5px;
    width: 350px;
    margin: 20px;
}
.sum {
    font-size: 18px;
    width: 50px;
    margin-right: 10px;
    padding: 5px 5px;
}
label {
    font-size: 22px;
    text-transform: uppercase;
}
.btn-add {
    font-size: 19px;
    padding: 5px 10px;
    margin-left: 10px;
    text-transform: capitalize;
    background: #282c34;
    color: #f5f5f5;
    border: solid #282c34 ;
}